---
---

@import "{{ site.theme }}";

.markdown-body {
  max-width: 800px;
  font-size: 1.3rem;
}
p,
a,
ol,
ul,
li,
blockquote {
  font-size: 1.3rem;
}

header > h1 > a {
  font-size: 2rem;
  line-height: 1.5;
}

header > p {
  line-height: 1.5;
}

footer > p {
  display: none;
}

.markdown-body p {
  font-size: 1.3rem;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

pre > code {
  font-size: 1.3rem;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}